<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FortyDigits.Templating.Tests.Properties.Settings.PeopleDataConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDBFilename=|DataDirectory|\App_Data\PeopleData.mdf;Database=PeopleData;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="ECommerce" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=C:\USERS\dL\DESKTOP\DATABASE\MYSHOP.MDF;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>